<div>
    <app-search (searchTextChanged)="OnSearchTextChanged($event)"></app-search>

    <product-list [searchText]="searchText" #productListComponent></product-list>
    <!-- Created a component based reference for product-list and utilized below so that product-details which is a pop-up gets shown only when 
selected product has a value.
Selected product will have a value on clicking product. -->
    <product-details *ngIf="productListComponent.selectedProduct"
        [productListComp]="productListComponent"></product-details>

    <!-- Featured Product section -->
    <div class="ekart-featured-products" *ngIf="false">
        <div class="ekart-featured-product-heading">
            <h1>Latest arrival in popular brands</h1>
        </div>

        <featured-brands>
            <h3 class="title">New Arrivals in Nike</h3>
            <div class="description" #description>
                <p #description1>Nike, Inc. (stylized as NIKE) is an American athletic footwear and apparel corporation headquartered near Beaverton, Oregon, United State.
                As of 2020, it employed 76,700 people worldwide.</p>
                <p  #description2>In 2020, the brand alone was valued in excess of $32 billion, making it the most valuable brand among sports businesses.</p>
                <p  #description2>Nike ranked 89th in the 2018 Fortune 500 list of the largest United States corporations by total revenue.</p>
            </div>
            <div class="test" #description>
                <p>Nike Air Force</p>
                <p>Air Jordan</p>
            </div>
            <button class="call-to-action">Learn More about Nike</button>
        </featured-brands>
        <featured-brands>
            <h3 class="title">New Arrivals in Adidas</h3>
            <div class="description">
                <p  #description1>Adidas AG stylized in all lowercase since 1949 is a German athletic apparel.
                Adidas's revenue for 2018 was listed at €21.915 billion.</p>
                <p  #description2>As of 2020, number of employees are 57,016.</p>
                <p  #description2>The three stripes are Adidas's identity mark, having been used on the company's clothing and shoe designs as a marketing aid.</p>
            </div>
            <div class="test" #description>
                <p>Ultraboost</p>
                <p>ADISCEND</p>
            </div>
            <button class="call-to-action">Learn More about Adidas</button>
        </featured-brands>
        <featured-brands>
            <h3 class="title">New Arrivals in Reebok</h3>
            <div class="description" #description>
                <p  #description1>Reebok International Limited is an American fitness footwear and clothing brand.
                in 2005, it was sold to the United States-based Authentic Brands Group in 2021.</p>
                <p  #description2>Reebok designs, manufactures, distributes and sells fitness, running and CrossFit sportswear including clothing and accessories.</p>
                <p  #description2>The Reebok Foundation operates the "Build Our Kids' Success" (BOKS) program to provide US schoolchildren with physical activities before the school day.</p>
                <div class="test" #description>
                    <p>Reebok Club C 85</p>
                    <p>Zig Kinetica</p>
                </div>
            </div>
            <button class="call-to-action">Learn More about Reebok</button>
        </featured-brands>
    </div>
    <!-- Just for conceptual understanding -->
    <app-ng-template-example *ngIf="showNgTemplate"></app-ng-template-example>
    <app-ng-container-example *ngIf="showNgContainer"></app-ng-container-example>

</div>