<div class="container" *ngIf="showContent === 'observable'">
  <h2>Observables in Angular</h2>
  <div class="data-list" *ngFor="let x of data">
    {{ x }}
  </div>

  <button (click)="getData()">Get Data</button>
  <br>
  <button (click)="getStreamData()">Get Stream Data</button>
  <br>
  <button (click)="getErrorData()">Get Stream Data</button>
  <br>
  <button (click)="getCompleteData()">Get Stream Data</button>
</div>

<div class="container" *ngIf="showContent === 'rxjs'">
  <h2>rxjs in Angular</h2>
  <div class="data-list" *ngFor="let x of data">
    {{ x }}
  </div>
  <button (click)="getAsyncData()">Get Stream Data</button>
  <br>
</div>