<div class="page-header-topbar">
  <div class="page-header-secondary-msg">
    <ul class="social-icons">
      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
    </ul>
  </div>  
  <div class="page-header-secondary-nav">
    <a routerLink="Home" fragment="search">SEARCH</a>
    <a routerLink="Home" fragment="courses">POPULAR</a>
    <a routerLink="Home" fragment="testimony">TESTIMONY</a>
    <a routerLink="Home" fragment="services">SERVICES</a>
    <a routerLink="Home" fragment="contact">CONTACT</a>
  </div>
</div>
<div class="page-header">
    <!--HOME HEADER-->
    <div class="page-header-logo">
      <h2>procademy</h2>
    </div>
    <div>
      <div class="page-header-secondary">
        
      </div>      
      <div class="page-header-primary">
        <div class="page-header-primary-nav">
            <a routerLink="home" [routerLinkActive]="'active-route'" [routerLinkActiveOptions]="{exact: true}">HOME</a>       
            <!-- As its an attribute, we can specify it in square brackets, but it will expect a ts expression, hence define the route in single quot      -->
            <a [routerLink]="'about'" [routerLinkActive]="'active-route'" [routerLinkActiveOptions]="{exact: true}">ABOUT</a> 
            <a routerLink="contact" [routerLinkActive]="'active-route'" [routerLinkActiveOptions]="{exact: true}">CONTACT</a>
            <a routerLink="courses" [routerLinkActive]="'active-route'" [routerLinkActiveOptions]="{exact: true}">COURSES</a>
        </div>
        <div class="page-header-login-logout">
            <a routerLink="/login">LOGIN</a>
            <a routerLink="/login">LOGOUT</a>
        </div>
      </div>
      
    </div>
  </div>
